@charset "utf-8";

.App {
  padding: 10px;

  .table {
    table-layout: fixed;

    td {
      vertical-align: middle;
    }

    .column-installed {
      text-align: center;
    }

    .column-sample-text {
      word-break: break-word;
    }
  }

  footer {
    margin-bottom: 10px;
  }
}